/* FOOTER STYLE */
footer {
    width: 82.5%;
    padding: 80px 0 40px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* p{
    width: 100px;
    text-align: start;
    font-size: 14px;
    
} */

.copyright {
    width: auto;
    height: auto;
}

/* a {
    width: 50%;
    position: relative;
} */

.instagram {
    color: #2c2c2c;
}
/* .footer-copyrights p {
    width: auto;
} */

/* .instagram {
    position: absolute;
    right: 0;
    font-size: 14px;

} */

@media (max-width: 1366px) {
    footer {
        width: 77%;
    }
}
@media (max-width: 768px) {
    footer {
        width: 85%;
    }
}
@media (max-width: 450px) {
    footer {
        width: 92%;
    }

    .footer{
        display: block;
        text-align: center;
        
    }

    .margin-pages {
        margin: 0 1rem;
    }
}