nav {
    position: fixed;
    z-index: 50;
    top: 0;
    width: 100%;
    /* display: flex; */
}

.nav {
    overflow: hidden;
    width: 100%;
    /* top: 0; */
    position: fixed;
    /* padding: 0 20px; */
    background-color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.1px 1px #808080;
}

.nav .logo {
    font-size: 1.rem;
    width: 60%;
    left: 3px;
    position: relative;
    top: 8px;
}

.nav .logo img {
    padding-top: 1px;
    width: 120px;
}

.nav li {
    display: inline;
}

.nav a {
    text-decoration: none;
    color: #808080;
    font-family: sans-serif;
    padding: 0px 10px;
    transition: 0.15s;
}

.nav a:hover {
    color: black;
}

#nav-button {
    display: none;
}

label {
    display: none;
}

@media only screen and (max-width: 765px) and (orientation: portrait) {
    .nav {
        align-items: center;
    }

    .nav .logo {
        width: 30%;
        /* position: absolute; */
        left: 0px;
        padding-left: 15px;
    }

    .nav .logo img {
        padding-top: 3px;
    }

    .nav ul {
        position: fixed;
        top: 44px;
        width: 100%;
        background: #000;
        max-height: 0;
        overflow: hidden;
    }

    .nav li {
        display: block;
        width: 100%;
        padding: 5px;
    }

    .nav a {
        width: 100%;
        display: block;
    }

    /* nav li:hover {
        background:  #11ee48;
    } */

    label {
        display: block;
        padding: 0px 10px;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        right: 2%;
    }

    label:hover {
        color:  #fff;
    }

    nav #nav-button:checked~ul {
        max-height: 100%;
        transition: all 1s ease-out;
    }

}    