* {
    padding: 0;
    margin: 0;
    text-decoration: 0;
}

:root {
    --main-color: #2c2c2c;
    --second-color: #636363;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}


/* img grid */

.container {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    /*     padding: 40px 0;
 */
}

.title {
    margin-bottom: 2rem;
}

.margin-pages {
    margin: 0 9rem;
}

.photo-gallery {
    display: flex;
    gap: 20px;
    margin-top: 4.5rem;

}

/* .animation-photo:hover {
    width: 100%;
    background: rgba(255, 255, 255, 0.568);
    z-index: 200;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}
 */
.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.photo {
    width: auto;
    position: relative;
}

.animation-photo {
    width: 100%;
    display: inline-table;
    color: black;
}

.photo-peta {
   position: relative;
}

.hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    opacity: .8;
    z-index: 50;
}

.column .photo-peta:hover .hover {
    display: flex;
}

/* .photo:hover::after {
    transition: ease-in;
    background-color: rgba(255, 255, 255, 0.288);
    z-index: 222;
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -ms-transition: ease-in;
    -o-transition: ease-in;
} */












/* LAPTOP!! */
@media (max-width: 1366px) {

    .margin-pages {
        margin: 0 6rem;
    }








    

}

/* TABLET!! */
@media (max-width: 768px) {
    .margin-pages {
        margin: 0 3rem;
    }

   


}

/* MOBILE PHONE! */
@media (max-width: 450px) {

    .margin-pages {
        margin: 0 1rem;
    }

   
    .photo-gallery {
        display: block;
    
    }
    


}