*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
}

:root {
    --main-color: #2c2c2c;
    --second-color: #636363;
}

/* navbar */
header {
    width: 100%;
    height: 7rem;

}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

.container-header {
    align-items: center;
    display: flex;
    width: 100%;
    padding: 4rem 0 0;
    height: 50px;
    gap: 1rem;
}

.navbar-logo {
    width: 85%;
}

.navbar-logo a img {
    width: 168.9px;
}


.navbar-content ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

a:hover {
    color: var(--main-color);
}

/* .navbar-content ul:hover {
    font-weight: 400;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
} */

.navbar-content ul li {
    color: var(--second-color);
}

.navbar-content ul li a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 12px;
}

/* img grid */

.container {
    max-width: 1224px;
    width: 90%;
    margin: auto;
/*     padding: 40px 0;
 */}
.title {
    margin-bottom: 2rem;
}

.photo-gallery{
    display: flex;
    gap: 20px;
margin-top: 4.5rem;
}

.animation-photo:hover {
    width: 100%; 
    background: rgba(255, 255, 255, 0.568);
    z-index: 4;     
   
}

.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}